.footer {
  position: relative;
  padding: 20% 1em 2em 1em;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-form {
  margin-top: 2em;
  padding-bottom: 20%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  z-index: 4;
}

input, textarea {
  padding: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #d9d9d9;
  font-family: SpaceGrotesk, sans-serif;
  font-weight: 200;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-bottom: 1px solid #4EE1A0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  text-transform: uppercase;
  color: #d9d9d9;
}

input::placeholder, textarea::placeholder {
  text-transform: uppercase;
  color: #d9d9d9;
}

.input-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70px;
}

.error-msg {
  color: #FF6F5B;
  font-size: 12px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: -0.17px;
  align-self: flex-end;
}

.btn {
  font-family: SpaceGrotesk;
  font-weight: 200;
  background-color: transparent;
  border: none;
  outline: none;
  align-self: flex-end;
  margin-top: 1em;
  cursor: pointer;
}

.oval-ring-footer {
  position: absolute;
  width: 530px;
  height: 80px;
  left: -420px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  opacity: 0.4;
  z-index: 0;
}

.footer-container {
  max-width: 445px;
  margin: auto;
}

.oval-ring1-footer {
  top: 54%;
}

.oval-ring2-footer {
  top: 55.7%;
}

.oval-ring3-footer {
  top: 57.4%;
}

.oval-ring4-footer {
  top: 59.1%;
}

.oval-ring5-footer {
  top: 60.8%;
}

.invalid {
  border-bottom: 1px solid #FF6F5B;
}

@media screen and (max-width: 340px) {
  .footer-container {
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-form {
    justify-content: center;
    text-align: center;
  }
  .btn {
    justify-self: center;
    align-self: center;
  }
  .contact-form {
    align-items: center;
  }
  textarea, input {
    max-width: 80vw;
  }
  .input-div {
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  textarea::-moz-placeholder, input::-moz-placeholder {
    text-align: center;
  }
  textarea::placeholder, input::placeholder {
    text-align: center;
  }
  .error-msg {
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 10%;
  }
  .footer-container {
    max-width: 900px;
    margin: auto;
  }
  .footer-para {
    font-size: 18px;
    max-width: 72%;
    margin: 1em auto;
  }
  .contact-form {
    position: relative;
    width: 70%;
    margin: auto;
    border-bottom: none;
  }
  .footer::after {
    content: "";
    height: 1px;
    max-width: 1270px;
    background-color: #fff;
    position: absolute;
    bottom: 15%;
    left: 5%;
    right: 5%;
    margin: auto;
  }
  .footer-nav {
    position: relative;
    padding-bottom: 2em;
  }
}
@media screen and (min-width: 1440px) {
  .footer-container {
    min-width: 1010px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 180px);
    text-align: start;
  }
  .contact-form {
    width: 410px;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-right: 0;
    align-self: flex-end;
  }
  .footer-para {
    max-width: 38ch;
    padding: 0;
    margin: 0;
    align-self: flex-start;
    font-size: 18px;
    line-height: 28px;
  }
  .footer-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1010px;
    bottom: 12%;
  }
  .footer-nav > .navigation {
    justify-content: space-between;
  }
  .footer::after {
    content: "";
    height: 1px;
    max-width: 1010px;
    background-color: #fff;
    position: absolute;
    bottom: 15%;
    left: 5%;
    right: 5%;
    margin: auto;
  }
  .input-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1900px) {
  .footer-container {
    min-width: 1300px;
  }
  .contact-form {
    width: 90%;
  }
  .navigation {
    min-width: 1300px;
    align-items: center;
    justify-content: space-between;
  }
  .footer-nav {
    left: 50%;
    transform: translateX(-50%);
  }
  .footer::after {
    max-width: 1300px;
  }
}/*# sourceMappingURL=footer.css.map */